@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
body.view-mode {
  background: #223c3f;
  overflow: auto;
  padding: 0;
  margin: 0; }
  body.view-mode::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #223c3f;
    z-index: 1002; }
  body.view-mode.canvas_events_loaded::before, .htmlReady body.view-mode::before {
    z-index: 0;
    pointer-events: none; }
  .abp-isBookCover body.view-mode::before, .htmlReady body.view-mode.abp-body-home::before, .htmlReady body.view-mode.abp-body-unit::before {
    z-index: 110; }
