@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
body.view-mode {
  background: #ffffff;
  overflow: auto;
  padding: 0;
  margin: 0; }
  body.view-mode::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 1002; }
  body.view-mode.canvas_events_loaded::before, .htmlReady body.view-mode::before {
    z-index: 0;
    pointer-events: none; }
  .abp-isBookCover body.view-mode::before, .htmlReady body.view-mode.abp-body-home::before, .htmlReady body.view-mode.abp-body-unit::before {
    z-index: 110; }

.oaw-body {
  font-family: "Comfortaa", cursive;
  font-size: 12px; }
  .oaw-body * {
    box-sizing: border-box; }

.oaw-button {
  font-family: "Comfortaa", cursive;
  line-height: 1.25em;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 0;
  position: relative;
  background: transparent;
  text-decoration: none;
  transition-property: color, background-color, border-color, box-shadow, opacity, height;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  font-weight: 700; }
  .oaw-button span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .oaw-button_1 {
    background: #ffffff;
    color: #ff8e00;
    border-radius: 100px;
    font-size: 20px;
    padding: 12px 50px 10px; }
  .oaw-button_2 {
    background: #ffffff;
    color: #009edf;
    border-radius: 100px;
    font-size: 14px;
    padding: 8px 8px 6px; }
  .oaw-button_3 {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    letter-spacing: 0.04px;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 10px 10px 8px; }
  .oaw-button_4 {
    background: #ffffff;
    color: #ff8e00;
    border-radius: 100px;
    font-size: 18px;
    padding: 8px 12px 6px;
    padding-left: 28px; }
    .oaw-button_4 .icon {
      display: inline-block;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translate(0, -50%);
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 14px solid #ff8e00; }

.oaw-title {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  letter-spacing: -0.59px;
  margin: 0;
  padding: 0; }
  .oaw-title_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    display: block; }
  .oaw-title_image.compat-object-fit {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
    .oaw-title_image.compat-object-fit img {
      display: none !important; }
  .oaw-title_2 {
    font-size: 26px; }
    .oaw-title_2.oaw-title_image {
      height: 40px;
      margin-bottom: 20px; }

.oaw-menu-nav ul {
  padding: 20px 40px 0;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .oaw-menu-nav ul li {
    padding: 0px 10px 10px;
    margin: 0; }
.oaw-page_home .oaw-menu {
  background: #009edf; }
  .oaw-page_home .oaw-menu .oaw-button {
    min-width: 150px; }

.oaw-projects-list {
  padding: 40px;
  /*.oaw-grid-item & {
  	display: flex;
  	min-height: 100%;
  	flex-direction: column;
  }*/ }
  .oaw-projects-list ul {
    list-style: none;
    padding: 0;
    margin: 0px -10px 0px; }
    .oaw-projects-list ul li {
      padding: 0;
      padding-bottom: 10px;
      margin: 0; }
      .oaw-projects-list ul li .oaw-button_3:hover {
        background: #ffffff; }

.oaw-resources-list {
  padding: 20px; }
  .oaw-resources-list ul {
    list-style: none;
    padding: 0;
    margin: 0px 0px -10px; }
  .oaw-resources-list-item {
    padding: 0;
    margin: 0 0 10px; }
    .oaw-resources-list-item-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 700;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: -0.01px; }
    .oaw-resources-list-item-icon {
      display: inline-block;
      min-width: 40px;
      width: 40px;
      height: 40px;
      background: #ffffff;
      margin-right: 10px; }

@media (max-height: 700px) {
  .oaw-button_3 {
    font-size: 12px; }

  .oaw-projects-list ul {
    margin-bottom: -8px; }
    .oaw-projects-list ul li {
      padding-bottom: 8px; } }
@media (max-height: 600px) {
  .oaw-button_3 {
    font-size: 10px; }

  .oaw-projects-list ul {
    margin-bottom: -6.6666666667px; }
    .oaw-projects-list ul li {
      padding-bottom: 6.6666666667px; } }
.oaw-grid_1 {
  display: flex;
  flex-wrap: wrap; }
  .oaw-grid_1 .oaw-grid-item {
    width: 50%;
    min-width: 50%; }
    .oaw-grid_1 .oaw-grid-item_1, .oaw-grid_1 .oaw-grid-item_2, .oaw-grid_1 .oaw-grid-item_3 {
      width: 33.3333%;
      min-width: 33.3333%; }
.oaw-grid_2 {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .oaw-grid_2 .oaw-grid-item {
    width: 50%;
    min-width: 50%; }
.oaw-grid_3 {
  display: flex;
  flex-wrap: wrap; }
  .oaw-grid_3 .oaw-grid-item {
    width: 33.333%;
    min-width: 33.3333%; }
.oaw-grid_lesson {
  display: flex;
  flex-wrap: wrap; }
  .oaw-grid_lesson .oaw-grid-item {
    height: 100%; }
    .oaw-grid_lesson .oaw-grid-item * {
      max-height: 100%; }
  .oaw-grid_lesson_4 .oaw-grid-item {
    width: 50%;
    min-width: 50%;
    max-height: 60%; }
    .oaw-grid_lesson_4 .oaw-grid-item_1, .oaw-grid_lesson_4 .oaw-grid-item_2 {
      max-height: 40%; }
    .oaw-grid_lesson_4 .oaw-grid-item_5, .oaw-grid_lesson_4 .oaw-grid-item_6, .oaw-grid_lesson_4 .oaw-grid-item_7, .oaw-grid_lesson_4 .oaw-grid-item_8 {
      display: none; }
  .oaw-grid_lesson_5 .oaw-grid-item {
    width: 50%;
    min-width: 50%;
    max-height: 40%; }
    .oaw-grid_lesson_5 .oaw-grid-item_1, .oaw-grid_lesson_5 .oaw-grid-item_2, .oaw-grid_lesson_5 .oaw-grid-item_3 {
      width: 33.333%;
      min-width: 33.333%;
      max-height: 60%; }
    .oaw-grid_lesson_5 .oaw-grid-item_6, .oaw-grid_lesson_5 .oaw-grid-item_7, .oaw-grid_lesson_5 .oaw-grid-item_8 {
      display: none; }
  .oaw-grid_lesson_5b .oaw-grid-item {
    width: 50%;
    min-width: 50%;
    max-height: 40%; }
    .oaw-grid_lesson_5b .oaw-grid-item_3, .oaw-grid_lesson_5b .oaw-grid-item_4, .oaw-grid_lesson_5b .oaw-grid-item_5 {
      width: 33.333%;
      min-width: 33.333%;
      max-height: 60%; }
    .oaw-grid_lesson_5b .oaw-grid-item_6, .oaw-grid_lesson_5b .oaw-grid-item_7, .oaw-grid_lesson_5b .oaw-grid-item_8 {
      display: none; }
  .oaw-grid_lesson_6 .oaw-grid-item {
    width: 33.3333%;
    min-width: 33.3333%;
    max-height: 50%; }
    .oaw-grid_lesson_6 .oaw-grid-item_7, .oaw-grid_lesson_6 .oaw-grid-item_8 {
      display: none; }
  .oaw-grid_lesson_7 .oaw-grid-item {
    width: 25%;
    min-width: 25%;
    max-height: 40%; }
    .oaw-grid_lesson_7 .oaw-grid-item_5, .oaw-grid_lesson_7 .oaw-grid-item_6, .oaw-grid_lesson_7 .oaw-grid-item_7 {
      width: 33.333%;
      min-width: 33.333%;
      max-height: 60%; }
    .oaw-grid_lesson_7 .oaw-grid-item_8 {
      display: none; }
  .oaw-grid_lesson_7b .oaw-grid-item {
    width: 25%;
    min-width: 25%;
    max-height: 50%; }
    .oaw-grid_lesson_7b .oaw-grid-item_2 {
      width: 50%;
      min-width: 50%; }
    .oaw-grid_lesson_7b .oaw-grid-item_8 {
      display: none; }
  .oaw-grid_lesson_8 .oaw-grid-item {
    width: 25%;
    min-width: 25%;
    max-height: 50%; }

.oaw-card {
  height: 100%; }
  .oaw-card-image {
    padding: 0;
    height: 100%; }
    .oaw-card-image-inner {
      height: 100%; }
      .oaw-card-image-inner img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
        display: block; }
      .oaw-card-image-inner.compat-object-fit {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center; }
        .oaw-card-image-inner.compat-object-fit img {
          display: none !important; }
  .oaw-card_project .oaw-card-image {
    padding: 20px; }
  .oaw-card_lessonsection .oaw-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .oaw-card_lessonsection .oaw-card-header .oaw-title_2.oaw-title_image {
    margin-bottom: 0; }
  .oaw-card_lessonsection .oaw-card-header-image {
    display: flex; }
    .oaw-card_lessonsection .oaw-card-header-image-inner {
      min-width: 100%; }
      .oaw-card_lessonsection .oaw-card-header-image-inner img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
        display: block; }
      .oaw-card_lessonsection .oaw-card-header-image-inner.compat-object-fit {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center; }
        .oaw-card_lessonsection .oaw-card-header-image-inner.compat-object-fit img {
          display: none !important; }
  .oaw-card_lessonsection .oaw-card-header.oaw-card-header_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .oaw-card_lessonsection .oaw-card-header.oaw-card-header_column_reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end; }
  .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row .oaw-title_image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left center;
      display: block; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row .oaw-title_image.compat-object-fit {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center; }
      .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row .oaw-title_image.compat-object-fit img {
        display: none !important; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row .oaw-card-header-image-inner img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right center;
      display: block; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row .oaw-card-header-image-inner.compat-object-fit {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center; }
      .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row .oaw-card-header-image-inner.compat-object-fit img {
        display: none !important; }
  .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse .oaw-title_image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right center;
      display: block; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse .oaw-title_image.compat-object-fit {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center; }
      .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse .oaw-title_image.compat-object-fit img {
        display: none !important; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse .oaw-card-header-image-inner img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left center;
      display: block; }
    .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse .oaw-card-header-image-inner.compat-object-fit {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center; }
      .oaw-card_lessonsection .oaw-card-header.oaw-card-header_row_reverse .oaw-card-header-image-inner.compat-object-fit img {
        display: none !important; }
  .oaw-card_lessonsection .oaw-resources-list {
    position: relative;
    z-index: 10; }

.oaw-page {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background: #009edf;
  height: 0px;
  overflow: hidden; }
  .oaw-page-header {
    height: 60px; }
    .oaw-page_home .oaw-page-header {
      height: 270px;
      background: #009edf; }
    .oaw-page-header .oaw-inner {
      height: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
      position: relative; }
      .oaw-page_home .oaw-page-header .oaw-inner {
        height: 270px; }
    .oaw-page-header-button {
      position: relative;
      z-index: 10; }
    .oaw-page-header-title {
      padding: 0;
      margin: 0 auto;
      height: 60px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      color: #ffffff;
      letter-spacing: 0.03px; }
      .oaw-page-header-title-inner {
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .oaw-page-header-title-inner img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center center;
          display: block; }
        .oaw-page-header-title-inner.compat-object-fit {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center; }
          .oaw-page-header-title-inner.compat-object-fit img {
            display: none !important; }
    .oaw-page-header-image {
      width: 100%;
      height: 100%; }
      .oaw-page-header-image-inner {
        height: 100%; }
        .oaw-page-header-image-inner img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center top;
          display: block; }
        .oaw-page-header-image-inner.compat-object-fit {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center top; }
          .oaw-page-header-image-inner.compat-object-fit img {
            display: none !important; }

.oaw-body-home .oaw-page_home {
  z-index: 1000;
  height: calc(100vh  - 44px); }
.oaw-page_home .oaw-page-header,
.oaw-page_home .oaw-page-content {
  height: calc(50vh - 22px - 30px); }
.oaw-page_home .oaw-page-header .oaw-inner {
  height: 100%; }
.oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item {
  height: 80px; }
  .oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item_1, .oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item_2, .oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item_3 {
    height: calc(50vh - 22px - 110px); }
.oaw-page_home .oaw-page-footer {
  position: relative;
  z-index: 10;
  height: 60px;
  overflow: hidden; }

.oaw-body-project .oaw-page_project {
  z-index: 1000;
  height: calc(100vh  - 44px); }
.oaw-page_project .oaw-page-content {
  height: calc(100vh - 44px - 160px); }
  .oaw-page_project .oaw-page-content .oaw-inner, .oaw-page_project .oaw-page-content .oaw-grid {
    height: 100%; }
    .oaw-page_project .oaw-page-content .oaw-inner .oaw-projects-list, .oaw-page_project .oaw-page-content .oaw-grid .oaw-projects-list {
      height: 100%; }
  .oaw-page_project .oaw-page-content .oaw-projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .oaw-page_project .oaw-page-content .oaw-projects-list > * {
      min-width: 100%; }
.oaw-page_project .oaw-grid_3 .oaw-grid-item {
  height: 100px; }

.oaw-page_lesson {
  height: calc(100vh - 44px); }
  .oaw-body-lesson .oaw-page_lesson {
    z-index: 1000; }
  .oaw-page_lesson .oaw-page-content {
    height: calc(100vh - 44px - 160px); }
    .oaw-page_lesson .oaw-page-content .oaw-inner, .oaw-page_lesson .oaw-page-content .oaw-grid {
      height: 100%; }
      .oaw-page_lesson .oaw-page-content .oaw-inner .oaw-projects-list, .oaw-page_lesson .oaw-page-content .oaw-grid .oaw-projects-list {
        height: 100%; }
    .oaw-page_lesson .oaw-page-content .oaw-projects-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .oaw-page_lesson .oaw-page-content .oaw-projects-list > * {
        min-width: 100%; }
  .oaw-page_lesson .oaw-grid_3 .oaw-grid-item {
    height: 100px; }

@media (max-height: 600px) {
  .oaw-page_home {
    height: calc(100vh - 44px); }
    .oaw-page_home .oaw-page-header {
      height: calc(40vh - 22px - 30px); }
    .oaw-page_home .oaw-page-content {
      height: calc(60vh - 22px - 30px); }
    .oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item_1, .oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item_2, .oaw-page_home .oaw-page-content .oaw-grid_1 .oaw-grid-item_3 {
      height: calc(60vh - 22px - 110px); }
    .oaw-page_home .oaw-page-footer {
      position: relative;
      z-index: 10;
      height: 60px;
      overflow: hidden; }

  .oaw-page_project .oaw-page-content {
    height: calc(100vh - 44px - 126.6666666667px); }
  .oaw-page_project .oaw-grid_3 .oaw-grid-item {
    height: 66.6666666667px; } }
#oaw-splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #009edf;
  top: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain; }
  .oaw-body-splash #oaw-splash {
    z-index: 1000; }
  #oaw-splash .oaw-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%; }
    #oaw-splash .oaw-inner .oaw-button {
      color: #009edf;
      margin-bottom: 84px; }
