// Splash

#oaw-splash {
  .oaw-button-wrapper {
    opacity: 0;
    transform: translate(0, 30px);
    transition-property: opacity, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .3s;
  }
}

.oaw-body-splash {
  #oaw-splash {
    .oaw-button-wrapper {
      opacity: 1;
      transform: translate(0, 0px);

    }
  }
}

// Top Menu

.oaw-page_home {
  .oaw-card-image {
    opacity: 0;
    transform: scale(.9);
    transform-origin: 50% 50%;
    transition-property: opacity, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .3s;
  }

  @for $i from 2 through 8 {

    .oaw-grid-item_#{$i} .oaw-card-image {
      transition-delay: #{.2s + $i * .1s} ;
    }
  }
  .oaw-body-home & {
    .oaw-card-image {
      opacity: 1;
      transform: scale(1);
    }
  }

}

// Lessons

.oaw-page_lesson {
  .oaw-card-inner {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
  }
  @for $i from 2 through 8 {

    .oaw-grid-item_#{$i} .oaw-card-inner {
      transition-delay: #{.4s + $i * .1s} ;
    }
  }
  .oaw-body-lesson & {
    .oaw-card-inner {
      opacity: 1;
    }
  }

}
