#oaw-splash {
  position: fixed;
  .oaw-body-splash & {
    z-index: 1000;
  }
  width: 100%;
  height: 100%;
  background: $color_3;
  top: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  .oaw-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    .oaw-button {
      color: $color_3;
      margin-bottom: $blink_header_height + $space_1*2;
    }
  }
}
