.oaw-card {
  height: 100%;
  &-image {
    padding: 0;
    height: 100%;
    &-inner {
      height: 100%;
      @include img-fit(contain, center center);
    }
  }

  &_project {
    .oaw-card-image {
      padding: $space_1;
    }
  }
  &_lessonsection {
    .oaw-card-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
      padding: $space_1;
      padding-bottom: 0;
    }
    .oaw-card-header {
      .oaw-title_2.oaw-title_image {
        margin-bottom: 0;
      }
      &-image {
        display: flex;
        &-inner {
          min-width: 100%;
          @include img-fit(contain, center center)
        }
      }
      &.oaw-card-header_titlepos_down,
      &.oaw-card-header_column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .oaw-title_2.oaw-title_image {
          padding-top: 10px;
        }
      }
      &.oaw-card-header_titlepos_up,
      &.oaw-card-header_column_reverse {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        .oaw-title_2.oaw-title_image {
          padding-bottom: 10px;
        }
      }
      &.oaw-card-header_titlepos_right,
      &.oaw-card-header_row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .oaw-title_image {
          @include img-fit(contain, left center);
          width: 50%;
          img {
            //transform: scale(.5);
            //transform-origin: 0 50%;
          }
        }
        .oaw-card-header-image {
          width: 50%;
          &-inner {
            @include img-fit(contain, right center)
          }
        }
      }
      &.oaw-card-header_titlepos_left,
      &.oaw-card-header_row_reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        .oaw-title_image {
          width: 50%;
          @include img-fit(contain, right center);
          img {
            //transform: scale(.5);
            //transform-origin: 0 50%;
          }
        }
        .oaw-card-header-image {
          width: 50%;
          &-inner {
            @include img-fit(contain, left center)
          }
        }
      }

    }
    .oaw-resources-list {
      position: relative;
      z-index: 10;
    }
    .oaw-card-image {
      //padding: $space_1;
    }
  }
}
