// Height media-queries

$mq_height_1 : 700px;
$mq_height_2 : 600px;
$mq_height_3 : 500px;

// Config stylesheet

$color_1: #ff8e00;
$color_2: #0188cc;
$color_3 : #009edf;

$negative_color: #ffffff;

$background_color: $negative_color;


$space_1: 20px;
$space_2: 30px;
$space_3: 50px;


$layout_max: 980px + $space_1*2;
$layout_max_2: 1200px + $space_1*2;
$layout_max_3: $layout_max_2 + 200px;


$blink_header_height_base : 44px;
$blink_header_margin_bottom : 20px;
$blink_header_height : $blink_header_height_base + $blink_header_margin_bottom;
