// Elements
// Buttons and links

@mixin button-base() {
	font-family: $font_family_1;
	line-height: 1.25em;
	overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 0;
  position: relative;
  background: transparent;
	text-decoration: none;
  transition-property: color, background-color, border-color, box-shadow, opacity, height;
  transition-duration: .2s;
  transition-timing-function: ease-in;
	outline: none;
	text-align: center;
	box-sizing: border-box;
	font-weight: 700;
	span {
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@mixin button-1 {
	background: $negative_color;
	color: $color_1;
	border-radius: 100px;
}

@mixin button-2 {
	background: $negative_color;
	color: $color_3;
	border-radius: 100px;
}
@mixin button-3 {
	background: transparent;
	color: $negative_color;
	border: 2px solid $negative_color;
	border-radius: 10px;
	letter-spacing: 0.04px;
	width: 100%;
	box-shadow: 2px 2px 10px rgba(0,0,0,.2);
	@include font-size(1.8);
	padding: 10px 10px 8px;
}

@mixin button-small {
	@include font-size(1.4);
	padding: 8px 8px 6px;
}

@mixin button-medium {
	@include font-size(1.8);
	padding: 8px 12px 6px;
}

@mixin button-large {
	@include font-size(2.0);
	padding: 12px 50px 10px;
}


.oaw-button {
	@include button-base;
	&_1 {
		@include button-1;
		@include button-large;
	}
	&_2 {
		@include button-2;
		@include button-small;
		&.oaw-current {
			opacity: .5;
			cursor: default;
		}
	}
	&_3 {
		@include button-3;
	}
	&_4 {
		@include button-1;
		@include button-medium;
		padding-left: 28px;
		.icon {
			display: inline-block;
			position: absolute;
			left: 8px;
			top: 50%;
			transform: translate(0,-50%);
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-right: 14px solid $color_1;
		}
	}
}

// Titles

.oaw-title {
	font-family: $font_family_1;
	font-weight: 700;
	letter-spacing: -0.59px;
	margin: 0;
	padding: 0;
	&_image {
		@include img-fit(contain, center center);
	}
	&_2 {
		@include font-size(2.6);
		&.oaw-title_image {
			height: 40px;
			margin-bottom: $space_1;
		}
	}
}


// Navigations

.oaw-menu {
	&-nav {
		ul {
			padding: 15px $space_1*2 0;
			margin: 0px;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				padding: (0px) $space_1/2 $space_1/2;
				margin: 0;
			}
		}
		&_items_1 {
			li {
				width: 100%;
			}
		}
		&_items_2 {
			li {
				width: 50%;
			}
		}
		&_items_3 {
			li {
				width: 33.3333%;
			}
		}
		&_items_4 {
			li {
				width: 25%;
			}
		}
		&_items_5 {
			li {
				width: 20%;
			}
		}
	}
	&_2 {
		.oaw-menu-nav {
			text-align: center;
			padding: 15px $space_1*2 0;
			margin: 0px;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.oaw-button {
				margin: (0px) $space_1/2 $space_1/2;
			}
		}
		.slick-arrow {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 8px;
				top: 50%;
				transform: translate(0,-50%);
				width: 0;
				height: 0;
				opacity: 1;
			}
			&.slick-disabled {
				opacity: 0;
			}
		}
		.slick-prev {
			left: 8px;
			&::before {
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-right: 14px solid $negative_color;
			}
		}
		.slick-next {
			right: 8px;
			&::before {
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 14px solid $negative_color;
			}
		}
	}
	.oaw-page_home & {
		background: $color_3;
		.oaw-button {
			min-width: 150px;
		}
	}
	.oaw-page_lesson & {
		.oaw-button {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}




// Project list

.oaw-projects-list {

	/*.oaw-grid-item & {
		display: flex;
		min-height: 100%;
		flex-direction: column;
	}*/
	&-inner {
		overflow: hidden;
		overflow-y: auto;
		padding: $space_1*2;
		// Scrollbars
		&::-webkit-scrollbar{width:6px!important;height:6px!important; background: fade-out($negative_color, .75)}
		&::-webkit-scrollbar-thumb{background-color: fade-out($negative_color, .1); border-radius: 20px;}
		&::-webkit-scrollbar-track{background-color: fade-out($negative_color, .75); border-radius: 20px;}

	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0px;
		li {
			padding: 0;
			padding-bottom: $space_1/2;
			margin: 0;
			.oaw-button_3:hover,
			.oaw-button_3:active,
			.oaw-button_3:focus {
				background: $negative_color;
			}
		}
	}

}


// Resources list

.oaw-resources-list {
	padding: $space_1;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		//margin: (0px) (0px) (-$space_1/2);
	}
	&-item {
		padding: 0;
		margin: 0 0 $space_1/2;
		&-inner {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-weight: 700;
			color: $negative_color;
			text-decoration: none;
			@include font-size(1.4);
			letter-spacing: -0.01px;
			&:hover {color: #262e2a} // TODO CHECK
		}
		&-icon {
			display: inline-block;
			min-width: 40px;
			width: 40px;
			height: 40px;
			background: url(img/iconssprite.png) 0 0 transparent;
			background-size: 360px 40px;
			margin-right: 10px;
			border-radius: 200px;
			box-shadow: 3px 3px 0px rgba(0,0,0,.10);
		}
		// Icons type
		&_audio { .oaw-resources-list-item-icon { background-position: 0px 0px} }
		&_read { .oaw-resources-list-item-icon { background-position: -40px 0px} }
		&_listen { .oaw-resources-list-item-icon { background-position: -80px 0px} }
		&_hello,
		&_hand { .oaw-resources-list-item-icon { background-position: -120px 0px} }
		&_play { .oaw-resources-list-item-icon { background-position: -160px 0px} }
		&_flashcards { .oaw-resources-list-item-icon { background-position: -200px 0px} }
		&_pop_outs,
		&_popouts { .oaw-resources-list-item-icon { background-position: -240px 0px} }
		&_video { .oaw-resources-list-item-icon { background-position: -280px 0px} }
		&_work { .oaw-resources-list-item-icon { background-position: -320px 0px} }
	}
}

// Height

@media (max-height: $mq_height_1) {
	.oaw-button_3 {
		@include font-size(1.2);
	}

	.oaw-projects-list {
		ul {
			margin-bottom: -$space_1/2.5;
			li {
				padding-bottom: $space_1/2.5;
			}
		}
	}

}
@media (max-height: $mq_height_2) {
	.oaw-button_3 {
		@include font-size(1.0);
	}
	.oaw-projects-list {
		ul {
			margin-bottom: -$space_1/3;
			li {
				padding-bottom: $space_1/3;
			}
		}
	}

}
