.oaw-grid {
  &_1 {
    display: flex;
    flex-wrap: wrap;
    .oaw-grid-item {
      width: 50%;
      min-width: 50%;
      &_1,
      &_2,
      &_3 {
        width: 33.3333%;
        min-width: 33.3333%;
      }
    }
  }

  &_2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .oaw-grid-item {
      width: 50%;
      min-width: 50%;
    }
  }
  &_3 {
    display: flex;
    flex-wrap: wrap;
    .oaw-grid-item {
      width: 33.333%;
      min-width: 33.3333%;
    }
  }
}
